header.header.d-flex.justify-content-end
    nav
        label.btn.btn-outline-warning(for="themeCheck")
            input#themeCheck(type="checkbox" onclick="switchTheme();" hidden)
            i Light/Dark
    script(src="js/themeSwitcher.js")
