extends layouts/layout 

block main
  body.container-fluid.row(hx-history="none")
    .col-sm-3
    section.todoapp.col-sm-6
      include ./includes/header
      section.top.d-flex.justify-content-center
        .new-todo
          .title
            | todos
            include includes/loading
            include includes/item-count
          // FIXME: todo always gets appended, even while in `completed` filter
          form(hx-select-oob="#todo-count" hx-indicator="#spinner" hx-post="/todos" hx-target="#todo-list" hx-swap="beforeend" _="on htmx:afterOnLoad set #txtTodo.value to ''")
            input#txtTodo.new-todo-input(name="todo" placeholder='What needs to be done?' autofocus='')
            // button.btn.btn-primary(type="submit") Add
      section.main
        .filters.d-flex.justify-content-between
          .btn-group(hx-boost="true")
            input#btnradio1.btn-check(type='radio' name='btnradio' autocomplete='off' checked=(filter === 'all' || filter == null))
            a.btn.btn-outline-primary(href="/?filter=all") All
            
            input#btnradio2.btn-check(type='radio' name='btnradio' autocomplete='off' checked=(filter === 'active'))
            a.btn.btn-outline-primary(href="/?filter=active") Active

            input#btnradio3.btn-check(type='radio' name='btnradio' autocomplete='off' checked=(filter === 'completed'))
            a.btn.btn-outline-primary(href="/?filter=completed") Completed

          // TODO: Hide if no completed items are left ?
          a.btn.btn-danger(hx-select-oob="#todo-count" hx-post="/todos/clear-completed" hx-target='#todo-list') Clear completed

        //TODO: add this functionality ?
        //input#toggle-all.toggle-all(type='checkbox')
        //label(for='toggle-all') Mark all as complete
        form.d-flex.justify-content-center.todo-list(hx-select-oob="#todo-count" hx-indicator="#spinner" hx-post="todos/reorder" hx-trigger="end" hx-swap="none")
          ul#todo-list.todo-list.list-group.list-group-flush.flex-grow-1
            each todo in todos
              include ./includes/todo-item

      section.bottom
    .col-sm-3
    include ./includes/footer
    script(src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous")
    script(src="https://unpkg.com/hyperscript.org@0.9.12")
    script(src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js")
    script(src="js/sortable.js")
