.html,
body {
  height: 100%
}

.new-todo {
    display: inline;
}

.new-todo-input {
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
    margin: 5px 0;
    margin-bottom: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.new-todo-input:focus {
    border: 0;
}

.htmx-indicator:hover {
    cursor: default;
}

.loading {
    color: var(--color-dark);
}
/* 
#todo-list>li>div>label {
    margin: 2px;
    border: 1px solid var(--color-dark);
    border-radius: 4px;
}
 */
.edit:hover{
    cursor: pointer;
    background-color: lightpink;
}

.toggleTheme:hover {
    cursor: pointer;
    color: rgb(255, 255, 0);
}

.btn-custom {
    background: 0;
    cursor: pointer;
    text-decoration: none;
    color: brown;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 0px;
    transition: 0.3s ease-in-out;
    &::before,
    &::after {
        background: lightpink;
  }
}

.btn-custom:hover{
    background: lightpink;
    border-radius: 0;
    scale: 1.1;
}

.btn-transition::before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: 0.3s ease-in-out; 
}

.btn-transition::after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: 0.3s ease-in-out; 
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
}

.btn-transition:hover::after { 
  width: 100%; 
}

.strike,
.strike-transition {
    --thickness: 2px;
    --strike: 0;
    background: linear-gradient(90deg, transparent, currentColor 0) no-repeat right center / calc(var(--strike) * 100%) var(--thickness);
    background-position-y: 35%;
    transition: background-size .2s ease-out;
}

.strike-transition {
    --strike: 1;
    background-position-x: left;
}
