:root {
    --color-dark: #0a0a13;
    --color-light: #f1f5fa;
}

.dark-mode {
    --color-light: #0a0a13;
    --color-dark: #f1f5fa;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: x-large;
}

body {
    background-color: var(--color-light);
    color: var(--color-dark);
}

header {
    position: sticky;
    top: 0px;
}

* {
    margin: 0;
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

nav {
    display: flex;
}

.top {
    display: flex;
    justify-content: center;
}

.new-todo {
    display: inline;
}

.new-todo-input {
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
    margin: 5px 0;
    margin-bottom: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.new-todo-input:focus {
    border: 0;
}

.main {
    display: flex;
}

.filler {
    display: table-cell;
}

.htmx-indicator:hover {
    cursor: default;
}

.htmx-indicator {
    position: relative;
}

.title {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.loading {
    color: var(--color-dark);
}

.todo-list {
    list-style-type: none;
    position: relative;
    left: 325px;
}

#todo-list>li>div>label {
    margin: 2px;
    border: 1px solid var(--color-light);
    border-radius: 4px;
}

#todo-list>li>div>label:hover {
    cursor: pointer;
    background-color: lightpink;
}

.toggle {
    vertical-align: -2px;
    margin-right: 4px;
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--color-light);
    border: 1px solid gray;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    border-radius: 15px;
}

.toggle:checked:active,
.toggle:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.toggle:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

.toggle:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}

.toggle:hover {
    cursor: pointer;
}

.destroy {
    vertical-align: 2px;
    color: red;
    border: 1px solid var(--color-light);
    background-color: var(--color-light);
}

.destroy:hover {
    cursor: pointer;
}

.dark-mode-toggle {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
}

.dark-mode-toggle:hover {
    cursor: pointer;
    color: rgb(255, 255, 0);
}

.toggleTheme {
    padding: 5px
}

.filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin: 10px;
}

.footer {
    margin-top: 10px;
    margin-bottom: 25px;
}

.bottom {
    display: flexbox;
}

.info {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    position: static;
    border: 2px solid gray;
    border-radius: 3px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

.todo-count {
    position: relative;
}

.btn {
    background: 0;
    cursor: pointer;
    text-decoration: none;
    color: brown;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 0px;
    transition: 0.3s ease-in-out;
    &::before,
    &::after {
        background: lightpink;
  }
}

.btn:hover{
    background: lightpink;
    border-radius: 0;
    scale: 1.1;
}

.btn-transition::before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: 0.3s ease-in-out; 
}

.btn-transition::after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: 0.3s ease-in-out; 
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
}

.btn-transition:hover::after { 
  width: 100%; 
}

.strike,
.strike-transition {
    --thickness: 2px;
    --strike: 0;
    background: linear-gradient(90deg, transparent, currentColor 0) no-repeat right center / calc(var(--strike) * 100%) var(--thickness);
    background-position-y: 60%;
    transition: background-size .2s ease-out;
}

.strike-transition {
    --strike: 1;
    background-position-x: left;
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }

    .todo-list {
        left: 265px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }

    .todo-list {
        left: 200px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    .todo-list {
        left: 135px;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    .todo-list {
        left: 100px;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }

    .todo-list {
        left: 60px;
    }
}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}
